/.vscode
/a.exe
/Helloworld.c
/Helloworld.exe
/if
/math_functions.c
/math_functions.exe
/math_programs
/math_programs-1
/operators.c
/operators.exe
/project_circle_circumfrence.exe
/questions.c
/variables.c
/variables.exe